<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{{title}}}</title>
  <link rel="stylesheet" type="text/css" media="screen" href="style/main.css" />
  <script defer src="js/main.js"></script>
</head>
<!-- Adding margin to the website and have it scale by percent to make it more responsive on other platforms too. */ -->
<body>
  <h1>Group 10/10</h1>
  <h3>By Alan Slivany</h3>
  <!-- Creating a navigation bar with links. -->
  <ul>
    <li>
      <a href="/">About the project</a>
    </li>
    <li>
      <a href="/team">Our team</a>
    </li>
    <li>
      <a href="/progress">Progress</a>
    </li>
  </ul>
  {{{body}}}
</body>
</html>