<form method="POST" action="/team" id="team-form">
<div>
    <label for="pname">Name:</label>
    <input type="text" id="pname" name="pname">
    <div id="pname-feedback" class="feedback"></div>
  </div>
  <div>
    <label for="age">Age:</label>
    <input type="number" id="age" name="age">
    <div id="age-feedback" class="feedback"></div>
  </div>
  <div>
    <label for="image">Image:</label>
    <input type="url" id="image" name="image">
    <div id="image-feedback" class="feedback"></div>
  </div>
  <div>
    <label for="message">Bio:</label> 
    <textarea id="message" name="message"></textarea>
    <div id="message-feedback" class="feedback"></div>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>