  <!-- Creating header/text and referencing the navigation bar so that clicking the links will lead to the 
  appropiate header. */ -->
  <div id="home">
    <h2>Front Page</h2>
    <p>All of the first-year IT-students are currently working on a project known</p>
    <p>as 'IT Product-Development Project'. The theme of the project this year is</p>
    <p>'assitive technology', which presents the task of designing a mixed physical</p>
    <p> and digital prototype with cloud functionality that can function as an assitive</p>
    <p>tool for people with a certain physical or cognitive disability. We, the</p>
    <p>members of group 10/10 (that's our nickname) have chosen to work with</p>
    <p>people that suffer from reduced hearing.</p>
  </div>