  <!-- Creating header/text and referencing the navigation bar so that clicking the links will lead to the 
  appropiate header. */ -->
  <div id="home">

  <div id="progress">
    <h2>Progress</h2>
    <p>Our team has decided to meet up four times a week to work on our</p>
    <p>itPDP project. We're still in the very early phases of the project</p>
    <p>and we have therefore not thought of any specific solutions yet, but</p>
    <p>we have settled on our taget group as named earlier.</p>
    <br>
    <p>This far we have made done a lot of brainstorming amongst other things.</p>
    <p>In fact, we do already own a Word Press blog that we use to upload and</p>
    <p>share the progress we have made. Click
      <u>
        <a href="https://itpdp10.wordpress.com/">here</a>
      </u>to check out our blog.</p>
    <p>As shown on the blog, we started of doing a brainstorm and mindmap of</p>
    <p>people with anxiety, as that's the target group we initially chose before</p>
    <p>swapping to people with reduced hearing.</p>
    <p>Furthermore our latest blog submission shows the swapping process and</p>
    <p>explain why exactly we decided to swap target group.</p>
    <h5>What has inspired us?</h5>
    <p>We found a lot of inspiration in working with people that has reduced</p>
    <p>heairng because we like the idea of interviewing a person with reduced</p>
    <p>hearing and follow their daily life to see if we can get some insight</p>
    <p>and hopefully solve some of the issues they face daily.</p>
    <p>We're currently planning to visit 'Aarhus Døveforening', which is an</p>
    <p>association for deaf people located in Aarhus. They have a public</p>
    <p>e-mail adress available which can be found at their website
      <u>
        <a href="http://deafaarhus.dk/kontakt-os/">here.</a>
      </u>
    </p>
    <p>We're currently scheduling our plans for the mail and visit.</p>
  </div>